{% extends '_base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}   
    
    {{ form_start(newUserForm ) }}                       
        {{ form_row(newUserForm.username, { 'attr': {'class': 'register-form'}, 'label': 'Pseudo :' }) }}
        {{ form_row(newUserForm.email, {'attr': {'class': 'register-form'}, 'label': 'Adresse e-mail :' }) }}
        {{ form_row(newUserForm.password, {'attr': {'class': 'register-form'}, 'label': 'Mot de passe :' }) }}
        <div class="div-btn-contribution div-border-top">
            {{ form_row(newUserForm.submit, { 'attr': {'class': 'btn btn-info btn-contribute'}, 'id': 'new-user-form' }) }}
        </div>
        {#<br>
        <a href="">Mot de passe oublié ?</a></p>#}
    {{ form_end(newUserForm) }}
    
{% endblock %}
