{% extends '_base.html.twig' %}

{% block aside %}
    <aside>
        <section class="aside-section">
            <h4>Informations</h4>
            {% if app.user %}
                <p>Vous êtes connecté en tant que : {{ app.user.username }} </p>
            {% else %}
                <p>Vous n'êtes pas connecté</p>
            {% endif %}
            <br>
            
            {% if app.request.get('_route') == 'index' or app.request.get('_route') == 'collection' %}
                <button type="button" class="btn btn-info btn-contribute" data-bs-toggle="modal" data-bs-target="#postModal">
                    Contribuer
                </button>
                <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-css article-section">
                            <div class="modal-header">
                                <h2 class="">Votre proposition</h2>
                            </div>
                            <div class="modal-body div-border-top">
                                {{ form_start(postForm, { 'attr': {'id': 'post'} }) }}
                                {{ form_errors(postForm.content) }}
                                {{ form_widget(postForm.content, { 'attr': {'class': 'proposition'} }) }}
                                <div class="div-btn-contribution div-border-top">
                                    {{ form_widget(postForm.submit, { 'attr': {'class': 'btn btn-info btn-contribute'} }) }}
                                </div>
                                {{ form_end(postForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    </aside>
{% endblock %}    