{% extends '_base.html.twig' %}

{% block postView %}
    {% for post in posts %}
        <section class="article-section">
            <h3>{{ post.subscriber.username ~ ' - ' ~ post.date|date("d/m/Y") }}</h3>
            <p class="fun-fact">{{ post.content}}</p>
            <div class="note-home div-border-top">
                {% if post.votesCount %}
                    <div class="votes col-5 my-auto">Votes : {{ post.votesCount }}</div>
                {% else %}
                    <div class="col-5"></div>
                {% endif %}
                
                <div class="col-2 my-auto">
                    {% if votes|length >= 0 %}
                    {% set voteOk = false %}
                        {% if votes|length > 0 %}
                            {% for i in 0..(votes|length)-1 %}
                                {% if votes[i].post == post.id|number_format %}
                                {% set voteOk = true %}
                                    <div> Votre note : {{ votes[i].rating }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if voteOk == false %}
                            <button type="button" id="callModal" class="btn btn-info btn-contribute callModal" 
                                data-post={{ post.id }} data-number={{ loop.index0 }} data-bs-toggle="modal" data-bs-target="#voteModal">
                                Voter
                            </button>
                        {% endif %}
                    {% endif %}
                </div>

                {% if post.rating %}
                    <div class="note col-5 m-auto">
                        <p>Note globale :&nbsp</p>
                        <div class="note-home">  
                            {% for i in 1..post.rating|round %} 
                                <p class="star my-auto"> </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>                
        </section>       
    {% endfor %}

    <div class="modal fade" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="voteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-css article-section">
                {% if app.user %}                
                    <div class="modal-header">
                        <h2 class="">Votre note</h2>
                    </div>
                    
                    <div class="modal-body div-border-top" id="voteModalContent">
                        {{ form_start(voteForm, { 'attr': {'id': 'vote'} }) }}
                            {{ form_errors(voteForm, { 'attr': {'id': 'voteError'} })  }}                        
                            {{ form_widget(voteForm.rating, { 'attr': {'class': 'proposition'} }) }}
                            {{ form_widget(voteForm.post, {'attr': {'id': 'postId', 'type': 'number', 'hidden': 'true'} }) }}
                            <div class="div-btn-contribution div-border-top">
                                {{ form_widget(voteForm.submit, { 'attr': {'class': 'btn btn-info btn-contribute'} ,'id': 'vote_submit', 'label': 'Valider' }) }}
                            </div>
                        {{ form_end(voteForm) }}
                    </div>
                {% else %}
                    <div class="m-3">
                        <p class="h5">Merci de vous connecter pour voter.</p>
                        <div class="div-btn-contribution div-border-top mt-3">
                            <a href="{{ path('login') }}"<button type="button" class="btn btn-info mt-3">Connexion</button></a>
                        </div>
                    <div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock postView %}    